a:hover{
	color:black;
}
a{
	color:black;
}
.sidebar td:hover{
	background-color:#f8f7f7;
}
.fix{
	border: none;
	background-color:#413a3a;
	color:#fff;
	border-radius:5px;
}
.fix2{
	border: 1px solid #413a3a;
	background-color:white;
	color:#413a3a;
	border-radius:5px;
}

.filebox label { 
	display: inline-block; 
	padding: .5em .75em; 
	color: #999; 
	font-size: inherit; 
	line-height: normal; 
	vertical-align: middle; 
	background-color: #fdfdfd; 
	cursor: pointer; 
	border: 1px solid #ebebeb; 
	border-bottom-color: #e2e2e2; 
	border-radius: .25em; 
	} 
.filebox input[type="file"] {
	/* 파일 필드 숨기기 */ position: absolute; 
	width: 1px; 
	height: 1px; 
	padding: 0; 
	margin: -1px; 
	overflow: hidden; 
	clip:rect(0,0,0,0); 
	border: 0; 
	}
.selector{
	background-color:black;
	width:300px;
	height:250px;
	overflow: hidden;
}
.selector img{
	max-width:auto;
	height:100%;
}
.ftable{
	border-spacing:5px;
}
.out a, a:hover{
	color:#f51167;
}

.search-form {
	width: 100%;
	padding: 0 10px;
}
.search-form input {
	width: 100%;
	height: 44px;
	font-size: 14px;
	border-radius: 50px;
	border: none;
	padding: 0 19px;
	background: #f0f0f0;
}

.search-form button {
	position: absolute;
	height: 100%;
	right: 18px;
	top: 0;
	font-size: 26px;
	color: #000;
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.search-form select {
	height:43px;
	width:100%;
	padding: .8em .5em;
	border: 1px solid #999;
	font-size: 12px;
	background: url('https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg') no-repeat 95% 50%;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
