<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SE_2</display-name>
  <servlet>
    <servlet-name>WriteReview</servlet-name>
    <servlet-class>service.WriteReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteReview</servlet-name>
    <url-pattern>/WriteReview.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteReply</servlet-name>
    <servlet-class>service.WriteReply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteReply</servlet-name>
    <url-pattern>/WriteReply.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WriteQuestion</servlet-name>
    <servlet-class>service.WriteQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteQuestion</servlet-name>
    <url-pattern>/WriteQuestion.do</url-pattern>
  </servlet-mapping>
  
</web-app>